<h1>Question#show</h1>
<%= form_with(model:[ @question, @question.answers.build ], local:true) do |f| %>

   <%= f.label :select_flg, 'わかる', value: 1  %>
   <%= f.radio_button :select_flg, '1' %>

   <%= f.label :select_flgs, 'わからない', value: 0 %>
   <%= f.radio_button :select_flg, '0' %>
   <br>
   <%= f.submit "送信" %>
 <% end %>
 
<%= @question.question_content %>

<br>

<% @answers.each do |answer| %>
   <%= answer.select_flg %>
<% end %>

<br>

trueの数
<%= @true_answers %>

falseの数
<%= @false_answers %>
   
<%= link_to "Back", questions_path %>
